#include "windows.h"

1000 DIALOG DISCARDABLE  200, 100, 150, 51
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "BASS+WASAPI full-duplex recording test with effects"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "latency",-1,10,2,40,8
    CTEXT           "",15,10,12,40,13,SS_CENTERIMAGE | SS_SUNKEN
    CONTROL         "Chorus",20,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,60,5,
                    38,10
    CONTROL         "Gargle",21,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
                    60,18,38,10
    CONTROL         "Reverb",22,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,105,5,
                    39,10
    CONTROL         "Flanger",23,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,105,
                    18,39,10
    LTEXT           "volume",-1,10,35,30,8
    CONTROL         "",11,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | 
                    WS_TABSTOP,40,34,100,12
END
